
/*--- about ---*/

.about {
	padding: 100px 0 20px;
	.about-text
	{
		h2 {
	font-size: 60px;
	font-weight: 600;
	margin-bottom: 20px;
	letter-spacing: $letter-spacing;
	color: $titleFont-color;
}
		h4 {
	color: $blue-color;
	line-height: 24px;
	margin-bottom: 20px;
}
		ul {
	margin-top: 20px;
}
		li {
	margin-bottom: 5px;
}
		 li::before {
	color: $green-color;
	content: "";
	font-family: fontawesome;
	margin-right: 20px;
}
	}
	.about-img{
		img {
    width: 100%;
}
		a {
	background: $blue-color;
	border-radius: 50%;
	color: $white-color;
	display: block;
	font-size: 19px;
	height: 80px;
	left: 43%;
	line-height: 80px;
	position: absolute;
	text-align: center;
	top: 28%;
	width: 80px;
}
		a:hover {
	background: $green-color none repeat scroll 0 0;
}
		h3 {
	color: $white-color2;
	float: right;
	font-size: 400px;
	font-weight: 700;
	margin-right: -130px;
	margin-top: -318px;
	position: relative;
	z-index: -1;
}
		img {
	box-shadow: 1px 7px 13px rgba(0, 0, 0, 0.15);
}
	}
	.about-title
	{
	color: $white-color2;
	float: left;
    font-size: 200px;
    font-weight: 700;
    margin-left: -200px;
    position: absolute;
    top: 24px;
    z-index: -1;
	}
	.about-h3 {
	color: $titleFont-color;
	letter-spacing: $letter-spacing;
		font-size: 32px;
    font-weight: 600;
    margin-bottom: 40px;
    margin-top: -20px;
}
	
}
.about2
{
	padding: 100px 0;
	a {
	background: $green-color none repeat scroll 0 0;
	box-shadow: 1px 6px 9px rgba(0, 0, 0, 0.1);
	color: $white-color;
	display: inline-block;
	margin-right: 20px;
	margin-top: 30px;
	padding: 20px 40px;
	text-decoration: none;
	text-transform: uppercase;
	transition: all 0.3s ease 0s;
}
a:hover,
a.active {
	background: $blue-color;
}
}