/*--- client ---*/

.client {
	background: $green-color;
	padding: 100px 0;
	li {
		display: inline;
		float: left;
		text-align: center;
		width: 20%;
	}
}

/*--- client2 ---*/

.client2 {
	padding: 80px 0 100px;
	li {
		display: inline;
		float: left;
		text-align: center;
		width: 16.666666666666667%;
	}
	h2
	{
		margin-bottom: 0;
	}
	.title
	{
		margin-bottom: 80px;
	}
}

