/*--- insid-header ---*/

.insidemenu .nav.navbar-nav a {
	color: $white-color;
}
.insidemenu .nav.navbar-nav a:hover {
	color: $white-color;
}
.insidemenu.affix .nav.navbar-nav a {
	color: $titleFont-color;
}
.inside-logo {
	margin-left: 0 !important;
	margin-top: -26px;
}
.insid-header {	
	height: 750px;
}
.insid-header-text {
	margin: 345px auto auto;
	text-align: center;
	width: 100%;
	h4 {
		color: $white-color;
		line-height: 28px;
	}
	h1 {
		font-size: 72px;
		font-weight: 700;
		color: $white-color;
		letter-spacing: $letter-spacing;
	}
}
.bdrcrums {
	background: $blue-color;
	border-radius: 5px 5px 0 0;
	display: inline-block;
	margin-top: 206px;
    padding: 10px 40px;
	li {
		display: inline;
		color: $white-color;
	}
	li a {
		color: $white-color;
	}
}
.about-header
{
	background: rgba(0, 0, 0, 0) url("../images/about-header.jpg") no-repeat scroll center 0 / cover;
}
.services-header
{
	background: rgba(0, 0, 0, 0) url("../images/services-header.jpg") no-repeat scroll center 0 / cover;
}
.gallery-header
{
	background: rgba(0, 0, 0, 0) url("../images/gallery-header.jpg") no-repeat scroll center 0 / cover;
}
.blog-header
{
	background: rgba(0, 0, 0, 0) url("../images/blog-header-image.jpg") no-repeat scroll center 0 / cover;
}
.contact-header
{
	background: rgba(0, 0, 0, 0) url("../images/contact-header.jpg") no-repeat scroll center 0 / cover;
}
