
/*--- our team ---*/

.our-team {
	padding: 100px 0;
	background: $white-color2;
	
	.our-team-text {
    background: $white-color;
    padding-bottom: 10px;
    text-align: center;
		h3
		{
			color: $titleFont-color;
			font-weight: 600;
		}
		p
		{
			color: $green-color;
		}
}
	}
	
