$font-family:  'Montserrat', sans-serif;
$primary-color: rgb(110, 123, 151);
$titleFont-color:#091f4f;
$nave-active-border: 4px solid rgb(55, 100, 235);
$blue-color:#3764EB;
$green-color:#4FBA6F;
$white-color:#fff;
$white-color2:#f9f9f9;
$light-skyblue:rgb(140, 168, 231);
$box-text-border:2px solid rgb(212, 223, 255);
$box-text-border2:1px solid #dedede;
$letter-spacing: -2px;
$line-height:24px;
