@charset "UTF-8";
/*--- 
import
navbar 
main-header
about
features
services
px-bg
news
client
footer
responsive
---*/
@import url("https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i");
/*--- icon font ---*/
@import url("../font/css/font-awesome.min.css");
@import url("../font/pe-icon-7-stroke/css/pe-icon-7-stroke.css");
/*--- bootstrap ---*/
@import url("../css/bootstrap.min.css");
/*--- animate ---*/
@import url("../css/animate.min.css");
/*--- LOADING ---*/
#loading {
  background-image: url("../images/loader.gif");
  background-position: center center;
  background-repeat: no-repeat;
  height: 120px;
  left: 50%;
  margin: -100px 0 0 -50px;
  position: absolute;
  top: 50%;
  width: 120px; }

#preloader {
  background: #fff none repeat scroll 0 0;
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 9999; }

/* LOADING */
body {
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  line-height: 24px;
  color: #6e7b97; }

a {
  text-decoration: none; }

a:hover {
  text-decoration: none; }

ul {
  list-style: outside none none;
  margin: 0;
  padding: 0; }

hr {
  border-color: #4FBA6F;
  border-width: 4px;
  display: inline-block;
  margin-top: 0;
  width: 80px; }

.title {
  margin-bottom: 100px; }

.title h2 {
  font-size: 60px;
  font-weight: 600;
  margin-bottom: 20px;
  color: #091f4f;
  letter-spacing: -2px; }

.title h4 {
  color: #6e7b97;
  font-weight: 300;
  line-height: 28px; }

::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #fff; }

::-moz-placeholder {
  color: #fff; }

/*--- navbar ---*/
.affix-top {
  top: 75px; }

.navbar-right {
  margin-right: 0; }

.top-social a {
  color: #fff; }

.top-social a:hover {
  color: #000; }

.top-nav li {
  display: inline;
  color: #fff;
  margin-right: 10px; }

.navbar-nav li {
  float: left;
  position: relative; }

.navbar-inverse {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  border: medium none;
  border-radius: 0;
  margin-bottom: 0;
  min-height: auto; }
  .navbar-inverse .navbar-nav li a {
    color: #091f4f;
    padding-bottom: 40px;
    padding-top: 25px;
    font-weight: 600; }
  .navbar-inverse .navbar-nav li a:focus,
  .navbar-inverse .navbar-nav li a:hover {
    background-color: rgba(0, 0, 0, 0);
    color: #091f4f; }

.navbar-inverse .navbar-nav > li.open > a,
.navbar-inverse .navbar-nav > li.open > a:hover,
.navbar-inverse .navbar-nav > li.open > a:focus {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  color: #091f4f; }

.navbar-nav li .dropdown-menu {
  border-radius: 0;
  padding: 20px 20px 0px; }

.navbar-nav li .dropdown-menu li::after {
  bottom: 13px; }

.dropdown-menu.arrow li {
  width: 100%; }

.navbar-inverse .navbar-nav .dropdown-menu.arrow a {
  color: black !important;
  height: 30px;
  margin: 0 0 18px;
  padding: 0; }

.top-nav {
  background: #3764EB;
  padding: 20px 0; }
  .top-nav .top-social li {
    display: inline;
    margin-left: 10px;
    margin-right: 0; }

.affix {
  background: #fff none repeat scroll 0 0;
  position: fixed; }
  .affix .nav.navbar-nav a {
    height: 75px; }
  .affix .in-disktop {
    display: none; }
  .affix .in-mobile {
    margin-top: 28px; }

.navbar-fixed-top {
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s; }

.affix-top .in-mobile {
  display: none; }

.nav.navbar-nav li::after {
  background: #3764EB;
  content: "";
  height: 4px;
  position: absolute;
  width: 0;
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s; }

.nav.navbar-nav li:hover::after {
  width: 100%; }

/*--- main-header ---*/
.main-header {
  background: rgba(0, 0, 0, 0) url("../images/header.jpg") no-repeat scroll center 0/cover;
  height: 850px;
  margin-top: 100px; }

.main-header-text {
  margin-top: 250px; }

.main-header-text h3 {
  color: #3764EB; }

.main-header-text h1 {
  font-size: 90px;
  font-weight: 700;
  color: #091f4f;
  letter-spacing: -2px; }

.main-header-text a {
  background: #091f4f;
  -webkit-box-shadow: 1px 6px 9px rgba(0, 0, 0, 0.1);
  box-shadow: 1px 6px 9px rgba(0, 0, 0, 0.1);
  color: #fff;
  display: inline-block;
  margin-right: 20px;
  margin-top: 50px;
  padding: 20px 40px;
  text-decoration: none;
  text-transform: uppercase;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  }

.main-header-text a:hover,
.main-header-text a.active {
  background: #091f4f;
  }

/*--- insid-header ---*/
.insidemenu .nav.navbar-nav a {
  color: #fff; }

.insidemenu .nav.navbar-nav a:hover {
  color: #fff; }

.insidemenu.affix .nav.navbar-nav a {
  color: #091f4f; }

.inside-logo {
  margin-left: 0 !important;
  margin-top: -26px; }

.insid-header {
  height: 750px; }

.insid-header-text {
  margin: 345px auto auto;
  text-align: center;
  width: 100%; }
  .insid-header-text h4 {
    color: #fff;
    line-height: 28px; }
  .insid-header-text h1 {
    font-size: 72px;
    font-weight: 700;
    color: #fff;
    letter-spacing: -2px; }

.bdrcrums {
  background: #3764EB;
  border-radius: 5px 5px 0 0;
  display: inline-block;
  margin-top: 206px;
  padding: 10px 40px; }
  .bdrcrums li {
    display: inline;
    color: #fff; }
  .bdrcrums li a {
    color: #fff; }

.about-header {
  background: rgba(0, 0, 0, 0) url("../images/about-header.jpg") no-repeat scroll center 0/cover; }

.services-header {
  background: rgba(0, 0, 0, 0) url("../images/services-header.jpg") no-repeat scroll center 0/cover; }

.gallery-header {
  background: rgba(0, 0, 0, 0) url("../images/gallery-header.jpg") no-repeat scroll center 0/cover; }

.blog-header {
  background: rgba(0, 0, 0, 0) url("../images/blog-header-image.jpg") no-repeat scroll center 0/cover; }

.contact-header {
  background: rgba(0, 0, 0, 0) url("../images/contact-header.jpg") no-repeat scroll center 0/cover; }

/*--- about ---*/
.about {
  padding: 100px 0 20px; }
  .about .about-text h2 {
    font-size: 60px;
    font-weight: 600;
    margin-bottom: 20px;
    letter-spacing: -2px;
    color: #091f4f; }
  .about .about-text h4 {
    color: #3764EB;
    line-height: 24px;
    margin-bottom: 20px; }
  .about .about-text ul {
    margin-top: 20px; }
  .about .about-text li {
    margin-bottom: 5px; }
  .about .about-text li::before {
    color: #4FBA6F;
    content: "";
    font-family: fontawesome;
    margin-right: 20px; }
  .about .about-img img {
    width: 100%; }
  .about .about-img a {
    background: #3764EB;
    border-radius: 50%;
    color: #fff;
    display: block;
    font-size: 19px;
    height: 80px;
    left: 43%;
    line-height: 80px;
    position: absolute;
    text-align: center;
    top: 28%;
    width: 80px; }
  .about .about-img a:hover {
    background: #4FBA6F none repeat scroll 0 0; }
  .about .about-img h3 {
    color: #f9f9f9;
    float: right;
    font-size: 400px;
    font-weight: 700;
    margin-right: -130px;
    margin-top: -318px;
    position: relative;
    z-index: -1; }
  .about .about-img img {
    -webkit-box-shadow: 1px 7px 13px rgba(0, 0, 0, 0.15);
            box-shadow: 1px 7px 13px rgba(0, 0, 0, 0.15); }
  .about .about-title {
    color: #f9f9f9;
    float: left;
    font-size: 200px;
    font-weight: 700;
    margin-left: -200px;
    position: absolute;
    top: 24px;
    z-index: -1; }
  .about .about-h3 {
    color: #091f4f;
    letter-spacing: -2px;
    font-size: 32px;
    font-weight: 600;
    margin-bottom: 40px;
    margin-top: -20px; }

.about2 {
  padding: 100px 0; }
  .about2 a {
    background: #4FBA6F none repeat scroll 0 0;
    -webkit-box-shadow: 1px 6px 9px rgba(0, 0, 0, 0.1);
            box-shadow: 1px 6px 9px rgba(0, 0, 0, 0.1);
    color: #fff;
    display: inline-block;
    margin-right: 20px;
    margin-top: 30px;
    padding: 20px 40px;
    text-decoration: none;
    text-transform: uppercase;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s; }
  .about2 a:hover,
  .about2 a.active {
    background: #3764EB; }

/*--- features ---*/
.features {
  padding: 100px 0;
  background: #f9f9f9; }
  .features .features-img {
    height: 290px;
    overflow: hidden;
    width: 100%;
    position: relative; }
  .features .features-hover {
    bottom: -30px;
    color: #fff;
    padding: 10px 30px;
    position: absolute;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s; }
    .features .features-hover a:hover {
      color: #4FBA6F; }
    .features .features-hover a::before {
      color: #4FBA6F;
      content: "";
      font-family: fontawesome;
      margin-right: 5px; }
    .features .features-hover a {
      color: #fff; }
    .features .features-hover h4 {
      font-size: 22px;
      font-weight: 400;
      margin-top: 20px; }
  .features .features-img:hover .features-hover {
    bottom: 20px; }

/*--- services ---*/
.services {
  padding: 100px 0; }
  .services .services-text {
    border: 2px solid #d4dfff;
    margin-bottom: 30px;
    padding: 40px 35px;
    -webkit-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s; }
    .services .services-text i {
      color: #3764eb;
      font-size: 62px; }
    .services .services-text h4 {
      color: #091f4f;
      font-weight: 600;
      line-height: 24px; }
  .services .services-text:hover {
    -webkit-transform: scale(1.1);
            transform: scale(1.1); }

/*--- px-bg ---*/
.px-bg {
  background: #091f4f;
  padding: 80px 0 100px; }
  .px-bg h2 {
    color: #fff;
    font-weight: 600;
    font-size: 38px;
    line-height: 42px; }
  .px-bg a {
    background: #4FBA6F;
    -webkit-box-shadow: 1px 6px 9px rgba(0, 0, 0, 0.1);
            box-shadow: 1px 6px 9px rgba(0, 0, 0, 0.1);
    color: #fff;
    display: inline-block;
    margin-right: 20px;
    margin-top: 30px;
    padding: 20px 40px;
    text-decoration: none;
    text-transform: uppercase;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s; }
  .px-bg a:hover {
    background: #3764EB;
    margin-top: 32px; }

/*--- px-bg ---*/
.px-bg2 {
  background: #4FBA6F;
  padding: 80px 0 100px; }
  .px-bg2 h2 {
    color: #fff;
    font-weight: 600;
    font-size: 38px;
    line-height: 42px; }
  .px-bg2 a {
    background: #091f4f;
    -webkit-box-shadow: 1px 6px 9px rgba(0, 0, 0, 0.1);
            box-shadow: 1px 6px 9px rgba(0, 0, 0, 0.1);
    color: #fff;
    display: inline-block;
    margin-right: 20px;
    margin-top: 30px;
    padding: 20px 40px;
    text-decoration: none;
    text-transform: uppercase;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s; }
  .px-bg2 a:hover {
    background: #3764EB;
    margin-top: 32px; }

/*--- news ---*/
.news {
  padding: 100px 0 70px; }
  .news .news-img {
    float: left;
    width: 100%; }
    .news .news-img img {
      width: 100%; }
  .news .news-text {
    border: 2px solid #d4dfff;
    float: left;
    padding: 15px;
    width: 100%;
    margin-bottom: 30px; }
    .news .news-text ul {
      float: left;
      margin-bottom: 20px; }
    .news .news-text li {
      display: inline;
      float: left;
      margin-right: 10px;
      text-transform: uppercase; }
    .news .news-text li a {
      background: #4FBA6F;
      border-radius: 3px;
      color: #fff;
      padding: 10px 20px;
      float: left;
      -webkit-transition: all 0.5s ease 0s;
      transition: all 0.5s ease 0s; }
    .news .news-text li a:hover {
      background: #3764EB;
      margin-top: -5px; }
    .news .news-text h3 a {
      color: #091f4f;
      display: block;
      font-weight: 400;
      margin-bottom: 45px;
      -webkit-transition: all 0.5s ease 0s;
      transition: all 0.5s ease 0s; }
    .news .news-text h3 a:hover {
      color: #3764EB; }
    .news .news-text h4 {
      font-weight: 200; }

/*--- news details ---*/
.blog-deatils {
  padding-top: 100px; }
  .blog-deatils .comment-post-img {
    float: left;
    width: 100%;
    padding: 10px 0 0; }
  .blog-deatils .comment-post-img h2 {
    font-size: 22px;
    font-weight: 400;
    margin-bottom: 50px;
    position: relative;
    color: #091f4f; }
  .blog-deatils .comments-area h2 {
    font-size: 22px;
    font-weight: 400;
    margin-bottom: 50px;
    color: #091f4f;
    position: relative; }
  .blog-deatils #respond {
    float: left;
    margin-bottom: 100px;
    width: 100%; }
  .blog-deatils #respond > h2 {
    font-size: 22px;
    font-weight: 400;
    margin-bottom: 50px;
    position: relative; }
  .blog-deatils #comments #commentform p input[type="text"],
  .blog-deatils #comments #commentform p textarea {
    border: 1px solid #dedede;
    border-radius: 0;
    font-size: 13px;
    padding: 10px;
    width: 100%; }
  .blog-deatils #comments #commentform p textarea {
    height: 100px;
    width: 100%; }
  .blog-deatils #comments #commentform p {
    margin: 0 0 10px; }
  .blog-deatils #comments #commentform p.form-submit input {
    background: #091f4f;
    border-radius: 0;
    color: #fff;
    font-size: 13px;
    font-weight: 300;
    line-height: 24px;
    padding: 10px 20px;
    margin-top: 40px;
    text-transform: uppercase; }
  .blog-deatils #comments #commentform p.form-submit input:hover {
    background: #4FBA6F; }
  .blog-deatils #comments #respond {
    padding-top: 50px; }
  .blog-deatils #comments #commentform p.comment-form-author,
  .blog-deatils #comments #commentform p.comment-form-email {
    float: left;
    width: 100%; }
  .blog-deatils .comments-area .offset2 {
    margin-left: 116px; }
  .blog-deatils .social-list {
    margin-top: 10px; }
  .blog-deatils .comment-respond.comment-replay {
    float: left;
    margin-top: 50px;
    width: 100%; }
  .blog-deatils .comment-replay h3 {
    margin-bottom: 35px; }
  .blog-deatils blockquote {
    background: rgba(0, 0, 0, 0) url("../images/qoute-icon.png") no-repeat scroll 8px 12px;
    font-size: 16px;
    font-style: italic;
    margin: 20px 0 40px;
    padding: 10px 45px;
    position: relative;
    border-left: 2px solid #3764EB; }
  .blog-deatils .blog-deatils .col-md-4 .hank a {
    font-size: 16px; }
  .blog-deatils .blog-tags-social .blog-tag a {
    border-radius: 0;
    color: #8e9699;
    font-size: 11px;
    line-height: 36px;
    margin-left: 10px; }
  .blog-deatils .blog-social .social-list {
    display: inline-block;
    margin: 0;
    padding: 0; }
  .blog-deatils .blog-social .social-list li {
    display: inline-block;
    list-style: outside none none;
    padding: 0 15px 0 0; }
  .blog-deatils .blog-social .social-list li .fa {
    color: #a2a2a2;
    display: block;
    font-size: 14px;
    text-align: center; }
  .blog-deatils .blog-social.col-md-6 > strong {
    margin-right: 15px; }
  .blog-deatils .blog-tags-social {
    border-bottom: 1px solid #ddd;
    border-top: 1px solid #ddd;
    float: left;
    margin-bottom: 50px;
    margin-top: 50px;
    padding: 10px 0;
    width: 100%; }
  .blog-deatils .blog-img2 {
    margin: 50px 0; }
  .blog-deatils .blog-text-post a {
    color: #222626; }
  .blog-deatils .left_menu.blog-lft li {
    border: medium none;
    line-height: 30px;
    padding: 0; }
  .blog-deatils .reply {
    color: #282828;
    font-size: 14px; }
  .blog-deatils .comment-post-img .hank a {
    font-size: 18px; }
  .blog-deatils .blog-text-post a {
    color: #222626; }
  .blog-deatils .bdrright img {
    border: 5px solid #f5f5f5;
    border-radius: 50%; }
  .blog-deatils .bdr3 {
    border-bottom: 1px solid #ddd;
    margin-bottom: 30px; }
  .blog-deatils .hank a {
    color: #091f4f;
    font-size: 42px;
    font-weight: 600;
    text-decoration: none; }
  .blog-deatils .hank {
    margin: 15px 0 10px; }
  .blog-deatils .time span {
    color: #4FBA6F; }

/*--- client ---*/
.client {
  background: #4FBA6F;
  padding: 100px 0; }
  .client li {
    display: inline;
    float: left;
    text-align: center;
    width: 20%; }

/*--- client2 ---*/
.client2 {
  padding: 80px 0 100px; }
  .client2 li {
    display: inline;
    float: left;
    text-align: center;
    width: 16.666666666666667%; }
  .client2 h2 {
    margin-bottom: 0; }
  .client2 .title {
    margin-bottom: 80px; }

/*--- mission ---*/
.mission {
  padding: 100px 0;
  background: rgba(0, 0, 0, 0) url("../images/mission-bg.jpg") no-repeat scroll center 0/cover;
  color: #fff;
  text-align: center; }
  .mission a {
    border: 2px solid #fff;
    border-radius: 50%;
    color: #fff;
    display: inline-block;
    font-size: 19px;
    height: 80px;
    line-height: 80px;
    text-align: center;
    margin-bottom: 30px;
    width: 80px; }
  .mission h2 {
    font-size: 60px;
    font-weight: 600;
    margin-bottom: 20px;
    color: #fff;
    letter-spacing: -2px; }
  .mission p {
    width: 80%;
    margin: auto;
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 50px; }

/*--- our team ---*/
.our-team {
  padding: 100px 0;
  background: #f9f9f9; }
  .our-team .our-team-text {
    background: #fff;
    padding-bottom: 10px;
    text-align: center; }
    .our-team .our-team-text h3 {
      color: #091f4f;
      font-weight: 600; }
    .our-team .our-team-text p {
      color: #4FBA6F; }

/*--- case-studies ---*/
.case-studies {
  padding: 100px 0; }
  .case-studies .case-studies-box {
    position: relative;
    overflow: hidden;
    margin-bottom: 30px; }
    .case-studies .case-studies-box img {
      width: 100%; }
    .case-studies .case-studies-box .case-studies-box-hover {
      background: rgba(0, 0, 0, 0.5) none repeat scroll 0 0;
      height: 100%;
      position: absolute;
      top: 0;
      -webkit-transform: translateY(350px);
              transform: translateY(350px);
      -webkit-transition: all 0.5s ease 0s;
      transition: all 0.5s ease 0s;
      width: 100%; }
      .case-studies .case-studies-box .case-studies-box-hover a {
        border: 2px solid;
        bottom: 30px;
        color: #fff;
        font-size: 50px;
        height: 50px;
        left: 20px;
        line-height: 38px;
        position: absolute;
        text-align: center;
        width: 50px;
        border-radius: 50%; }
  .case-studies .case-studies-box:hover .case-studies-box-hover {
    -webkit-transform: translateY(0px);
            transform: translateY(0px); }

/*--- case-studies-detalis ---*/
.case-studies-detalis-img {
  margin-bottom: 15px; }
  .case-studies-detalis-img img {
    width: 100%; }

.case-studies-details-text {
  border-bottom: 1px solid #dedede;
  padding-bottom: 60px;
  float: right;
  width: 90%;
  margin-bottom: 60px; }
  .case-studies-details-text hr {
    display: table-caption; }
  .case-studies-details-text h2 {
    color: #091f4f;
    font-weight: 600; }
  .case-studies-details-text ul {
    margin-top: 20px;
    float: left; }
  .case-studies-details-text li {
    float: left;
    width: 100%; }
  .case-studies-details-text li::before {
    content: "";
    font-family: fontawesome;
    color: #4FBA6F;
    float: left;
    margin-right: 15px;
    margin-top: 6px; }
  .case-studies-details-text .case-studies-details-li-text {
    float: left;
    width: 90%; }
    .case-studies-details-text .case-studies-details-li-text h4 {
      color: #091f4f; }

.case-studies-details-text2 {
  padding-bottom: 25px;
  float: right;
  width: 90%; }
  .case-studies-details-text2 hr {
    display: table-caption; }
  .case-studies-details-text2 h2 {
    color: #091f4f;
    font-weight: 600; }
  .case-studies-details-text2 ul {
    margin-top: 20px; }
  .case-studies-details-text2 li {
    float: left;
    width: 100%;
    margin-bottom: 3px;
    color: #091f4f; }
  .case-studies-details-text2 li::before {
    content: "";
    font-family: fontawesome;
    color: #4FBA6F;
    margin-right: 15px;
    margin-top: 6px; }
  .case-studies-details-text2 .case-studies-details-li-text {
    float: left;
    width: 90%; }
    .case-studies-details-text2 .case-studies-details-li-text h4 {
      color: #091f4f; }

/*--- contact ---*/
.contact-informations {
  padding: 100px 0; }
  .contact-informations .contact-address {
    margin-bottom: 30px;
    padding: 0 35px;
    -webkit-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s; }
    .contact-informations .contact-address hr {
      border-color: #3764EB;
      margin-bottom: 0px; }
    .contact-informations .contact-address ul {
      margin-top: 30px; }
    .contact-informations .contact-address i {
      color: #3764eb;
      font-size: 62px; }
    .contact-informations .contact-address h2 {
      color: #091f4f;
      font-weight: 600;
      line-height: 24px; }
  .contact-informations .contact-text:hover {
    -webkit-transform: scale(1.1);
            transform: scale(1.1); }
  .contact-informations #map {
    height: 380px;
    width: 100%; }

.contact-form {
  background: #3764EB;
  padding: 100px 0; }
  .contact-form hr {
    border-color: #fff; }
  .contact-form h2 {
    color: #fff; }
  .contact-form input[type="text"],
  .contact-form input[type="email"],
  .contact-form textarea {
    background: none;
    border: 1px solid #fff;
    color: #fff;
    float: left;
    margin-bottom: 20px;
    padding: 15px 30px;
    width: 100%; }
  .contact-form input[type="submit"] {
    border: 1px solid #fff;
    background: none;
    color: #fff;
    padding: 15px 30px;
    text-transform: uppercase;
    margin-top: 50px; }
  .contact-form input:hover[type="submit"] {
    border: 1px solid #4FBA6F;
    background: #4FBA6F;
    color: #fff; }
  .contact-form .name,
  .contact-form .email,
  .contact-form .subject,
  .contact-form .textarea {
    float: left;
    position: relative;
    width: 100%; }
  .contact-form .name::after,
  .contact-form .email::after,
  .contact-form .subject::after,
  .contact-form .textarea::after {
    color: #fff;
    font-family: fontawesome;
    font-size: 20px;
    position: absolute;
    right: 30px;
    top: 20%; }
  .contact-form .name::after {
    content: ""; }
  .contact-form .email::after {
    content: ""; }
  .contact-form .subject::after {
    content: ""; }
  .contact-form .textarea::after {
    content: ""; }
  .contact-form .contact-form-box {
    margin: auto;
    width: 50%; }

/*--- footer ---*/
footer {
  background: rgba(0, 0, 0, 0) url("../images/fbackground.jpg") no-repeat scroll center 0/cover;
  color: #8ca8e7;
  font-weight: 200;
  line-height: 28px;
  padding: 100px 0; }
  footer a {
    color: #8ca8e7; }
  footer a:hover {
    color: #4FBA6F; }
  footer .w50 {
    float: left;
    width: 50%; }
  footer .w50 li {
    margin-bottom: 10px; }
  footer .weight h4 {
    color: #fff;
    font-size: 28px;
    font-weight: 400;
    margin-bottom: 30px;
    letter-spacing: -1px; }
  footer .weight h5 a {
    color: #fff;
    font-size: 16px;
    line-height: 24px; }
  footer .time {
    font-size: 12px; }
  footer .time::before {
    color: #4FBA6F;
    content: "";
    font-family: fontawesome;
    margin-right: 10px; }
  footer .weight i {
    color: #4FBA6F;
    float: left;
    margin-right: 10px;
    margin-top: 6px; }
  footer .weight span {
    display: inline-block;
    width: 86%; }
  footer .weight h5 {
    margin-bottom: 0;
    margin-top: 0; }
  footer .weight li {
    float: left;
    width: 100%;
    margin-bottom: 10px; }

/*--- responsive ---*/
@media (min-width: 320px) and (max-width: 736px) {
  .main-header-text {
    margin-top: 100px; }

  .main-header-text h1 {
    font-size: 38px; }

  .main-header {
    height: 540px; }

  .top-nav li {
    display: none; }

  .navbar-inverse .navbar-toggle {
    background: #3764EB;
    border-color: #3764EB;
    margin-bottom: 18px;
    margin-top: 18px; }

  .navbar-nav li {
    float: left;
    width: 100%; }

  .affix .nav.navbar-nav a {
    height: 55px;
    padding-bottom: 10px; }

  .navbar-inverse .navbar-collapse,
  .navbar-inverse .navbar-form {
    border-color: #6e7b97; }

  .navbar-nav {
    background: #fff;
    margin: 7.5px -15px; }

  .about {
    overflow: hidden; }

  .client li {
    margin-bottom: 20px;
    width: 100%; }

  .about .about-text h2 {
    font-size: 50px; }

  .about-img {
    margin-top: 50px; }

  .features-img img {
    width: 100%; }

  .features-hover img {
    width: auto; }

  .features .features-img {
    margin-bottom: 30px; }

  .title h4 {
    font-size: 15px; }

  .insid-header-text h1 {
    font-size: 30px; }

  .insid-header-text h4 {
    font-size: 14px; }

  .insid-header-text {
    margin: 200px auto auto; }

  .insid-header {
    height: 587px; }

  .features .features-img {
    height: 229px; }

  .title h2 {
    font-size: 45px; }

  .in .nav.navbar-nav a, .in .nav.navbar-nav a:hover, in .nav.navbar-nav a:focus {
    color: #091f4f;
    padding-bottom: 15px;
    padding-top: 15px; }

  .navbar-inverse .navbar-nav .dropdown-menu.arrow a {
    height: auto;
    margin: 0 0 18px;
    padding: 0;
    padding-bottom: 15px;
    padding-top: 15px; }

  .nav.navbar-nav li::after {
    left: 0; }

  .navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
    border: medium none !important;
    -webkit-box-shadow: none;
            box-shadow: none; }

  .client2 li {
    margin-bottom: 30px;
    width: 100%; }

  .client li {
    width: 100%;
    margin-bottom: 30px; }

  .client li:last-child, .client2 li:last-child {
    margin-bottom: 0; }

  .blog-deatils .blog-img2 {
    width: 100%; }

  .blog-deatils .comments-area .offset2 {
    margin-left: 0; }

  .case-studies .case-studies-box .case-studies-box-hover {
    -webkit-transform: translateY(450px);
            transform: translateY(450px); }

  .contact-form .contact-form-box {
    width: 100%; } }
@media (min-width: 400px) and (max-width: 736px) {
  .insid-header {
    height: 559px; } }
@media (min-width: 1300px) and (max-width: 1440px) {
  .main-header {
    height: 650px;
    margin-top: 100px; }

  .main-header-text {
    margin-top: 150px; }

  .about {
    overflow: hidden; }

  .about.about2 {
    overflow: inherit; }

  .main-header-text h1 {
    font-size: 70px; }

  .client2 li {
    margin-bottom: 30px;
    width: 33.33%; }

  .our-team-text img {
    width: 100%; } }
@media (min-width: 768px) and (max-width: 1024px) {
  .main-header {
    height: 650px;
    margin-top: 100px; }

  .main-header-text {
    margin-top: 150px; }

  .about {
    overflow: hidden; }

  .about.about2 {
    overflow: inherit; }

  .main-header-text h1 {
    font-size: 70px; }

  .client2 li {
    margin-bottom: 30px;
    width: 33.33%; }

  .client li {
    width: 33.33%;
    margin-bottom: 30px; }

  .blog-img2 {
    width: 100%; }

  .blog-deatils .bdrright img {
    border: 2px;
    border-radius: 50%;
    width: 100%; }

  .blog-deatils .comments-area .offset2 {
    margin-left: 60px; } }
